/* Reset to default CSS configuration */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

/* Setup body */

body {
	height: 100vh;
	width: 100vw;
	background-color: #F5F5F5;
}

/* Header */

header {
	background: #789789;
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
	height: 150px;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #FFF;
	text-shadow: 2px, 2px, 4px, rgba(0, 0, 0, 0.5);

	margin-bottom: 1%;
}

header h1 {
	font-size: 36px;
	margin-bottom: 2px;
}

header p {
	font-size: 12px;
}

/* Sections */

section {
	background: #8EbA8A;
	box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);

	height: auto;
	width: auto;
	margin: 30px 20%;
	padding: 2% 10%;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #FFF;
	text-align: center;
	text-shadow: 2px, 2px, 4px, rgba(0, 0, 0, 0.5);
}

section h2 {
	font-size: 24px;
	margin-bottom: 8px;
}

section p {
	font-size: 16px;
	margin: 5px 0;
}

section a {
	color: #D8F5D5;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease;

	margin-top: 4px;
}

section a:hover {
	color: #B6CFD9;
}
